@font-face {
    font-family: Norse Bold;
    src: url(Norse-Bold.otf);
}

body {
    margin: 0px;
    display: flex;
}

.sidebar {
    position: relative;
    height: 100%;
}

.background {
    height: 100vh;
}

.logo {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 25%;
    color: white;
    height: 13vh;
    font-size: 9vh;
    font-family: Norse Bold;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    padding: 10px 0px;
}

.logo p {
    margin: 3% 0px;
}